.profile-frame{
    
        width: 40vw;
        height:100%;
        max-width: 100vw;
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        opacity:1;
        border-radius: 2vw;
        border : 0.2vw solid;
        padding: 0.3vh;
        margin-top: 3vh;
    
}

.profile-elt{
    margin:1vh
}



.profile-title-frame {
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items:center;
    height:100%;
    width: 100%;
    max-height: 20vh;

}

.profile-title{
    font-size: 2em;
}

.profile-img-frame{
    height: 15vh;
    width: 15vh;
    border: 0.2vw solid;
    border-radius: 7.5vh;
    overflow: hidden;
    border-color: rgb(86, 145, 100);
}

.profile-img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.input-submit{
    cursor: pointer;
}

.profile-contract-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
}

.profile-task-list {
    display: flex;
    min-height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    border-left: 0.25vw solid;
    border-right: 0.25vw solid;
    margin: 1vw;
}

.profile-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-height: 15vh;
    border-radius: 2vw;
    border : 0.2vw solid;
    padding: 0.3vh;
    margin-top: 2vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;

}

.profile-task-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:1.75em;
}

.profile-task-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    font-size:1.2em;
}

.profile-task-elt{
    margin:0.3vh;
}

.profile-task-button{
    border-radius: 2vh;
}

.profile-button{
    border-radius: 2vh;
}

.profile-margin-top{
    margin-top: 5vh;
    font-size: 3em;
}
